body{
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}
h1{
	text-align:center;
	color:#19CCAA;
	padding: 50px;
	padding-top: 80px;
	font-size: 60px;
	background: #1D1425;
	font-family: "Muli", sans-serif;
	text-decoration: none;
	}
	
	a.yusra{
		text-align:center;
		color:#19CCAA;
		padding: 50px;
		padding-top: 80px;
		font-size: 60px;
		
		font-family: "Muli", sans-serif;
	
	}

	
#topBar{	
	margin: 0 auto;
	 font-family: "Muli", sans-serif;
	font-size: 1.1em;
	line-height: 20px;
	text-decoration: none;
}

#topBar ul{

	list-style-type: none;
	padding:0;
	margin: 0;
	background-color: white;
	width: 100%;
	position: fixed;
}

.scroll {
	overflow:scroll;
	height: 95%;
}

#topBar ul li{
	display: inline-block;
}

#topBar ul li a,visited{
	color: black;
	display: block;
	padding: 15px;
	text-decoration: none;
}

#topBar li a:hover {
    background-color: black;
    color: white;
}




 